body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif
}

.hidden {
  display: none  !important;
}

.migration-uri-field {
  width: 100%;
}

.migrate-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#download-export {
  margin: 14px 0;
}

#error-box {
  padding: 10px;
  border-radius: 4px;

  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid darken(#FFBABA, 15%);
}

footer {
  margin-top: 24px;

  svg {
    height: 30px;
  }
}

.file-upload {
  margin-top: 14px;
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;

  .file-select {
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    position: relative;

    &.active {
      .file-select {
        transition: all 0.2s ease-in-out;

        .file-select-button {
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &:hover {
      border-color: #34495e;
      transition: all 0.2s ease-in-out;

      .file-select-button {
        background: #ccc;
        transition: all 0.2s ease-in-out;
      }
    }

    &.file-select-disabled {
      opacity: 0.65;

      &:hover {
        cursor: default;
        display: block;
        border: 2px solid #dce4ec;
        color: #34495e;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        margin-top: 5px;
        text-align: left;
        background: #ffffff;
        overflow: hidden;
        position: relative;

        .file-select-button {
          background: #dce4ec;
          color: #666666;
          padding: 0 10px;
          display: inline-block;
          height: 40px;
          line-height: 40px;
        }

        .file-select-name {
          line-height: 40px;
          display: inline-block;
          padding: 0 10px;
        }
      }
    }

    input[type="file"] {
      z-index: 100;
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .file-select-button {
      background: #dce4ec;
      padding: 0 10px;
      display: inline-block;
      line-height: 40px;
    }
  }
}
