$link-color: #6c757d;
$code-color: #212529;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/utilities";

.list-group-item {
  padding: .4rem .75rem;
}

.gh-icon {
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
}

